<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="name" value="{{ application.full_name }}">
    <input type="email" name="email" value="{{ application.email }}">
    <input type="text" name="phone" value="{{ application.phone }}">
    <input type="text" name="city" value="{{ application.city }}">
    <input type="text" name="study" value="{{ application.study }}">
    <textarea name="skills">{{ application.skills }}</textarea>

    <input type="file" name="resume">

    <button type="submit">Update</button>
</form>